{% macro speaker_box(name, photo, bio, github, twitter) %}
    <div class="item col-md-4 col-sm-6 col-xs-12 speaker-box">
        <div class="pybox speaker">
            <figure class="icon-holder text-center speaker--photo">
                <img src="{{ photo }}" class="img-responsive" style='border-radius: 10px; border: 2px solid #771616' />
            </figure>
            <div class="content">
              <h3 class='speaker--name'>{{ name }}</h3>
              <p class='speaker--bio'>{{ bio }}</p>
              <a class='speaker--social-icon' target="_blank" href="{{ github }}">
                <i class="social fa fa-github-square fa-2x social-fb"></i>
              </a>
              <a class='speaker--social-icon' target="_blank" href="{{ twitter }}">
                    <i class="social fa fa-twitter-square fa-2x social-tw"></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

<section id="speakers" class="speakers section">
    <div class="row text-center">
        <h2 class="title text-center">
            <img src="images/icons/team.png" /><br/> KEYNOTE SPEAKERS
        </h2>

        <div class="col-md-12">
            {{ speaker_box(name='TBD',
                           photo='images/speakers/speaker.svg',
                           bio='TBD',
                           github='https://github.com/',
                           twitter='https://twitter.com/') }}

            {{ speaker_box(name='TBD',
                           photo='images/speakers/speaker.svg',
                           bio='TBD',
                           github='https://github.com/',
                           twitter='https://twitter.com/') }}

            {{ speaker_box(name='TBD',
                           photo='images/speakers/speaker.svg',
                           bio='TBD',
                           github='https://github.com/',
                           twitter='https://twitter.com/') }}

        </div>
    </div>
</section>
