<footer class="visible-xs">
    <div class="footer col-md-12">
        <p class="col-md-4 text-center"> Copyright &copy; 2017 <a href="http://blockchaincon.io">blockchaincon.io</a> </p>
        <p class="col-md-4 text-center" id="footer-links">
            <a href="mailto:contact@blockchaincon.io" target="_blank">Mail</a> |
            <a href="https://twitter.com/BlockchainConIo" target="_blank">@BlockchainConIo</a> |
            <a href="https://www.facebook.com/BlockchainConIo/" target="_blank">Facebook</a>
        </p>
    </div>
</footer>
