{% extends "_base.jinja" %}

{% block content %}
<!-- ******home****** -->
    <section id="home" class="home section">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <center>
                    <img src="images/logolg.png" class="img-responsive" width="70%"/>
                </center>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <br/>
                <h4 class="text-center">
                    Blockchain technology has created waves around the World, bringing transparency and massively reducing costs in sectors like Banking, Finance, Logistics and Manufacturing, among others. And this is only the beginning…
                </h4>
                <div class="items col-xs-12 col-sm-4 col-md-4 col-lg-4 clearfix">
                    <div class="col-md-2" style="padding-top:15px">
                        <img src="images/gear3.png" class="header-icon"/>
                    </div>
                    <div class="col-md-8">
                        <h2 class="name"> Workshops </h2>
                        <h4 class="date">
                            Dec 16-17, 2017 [Sat and Sunday]
                        </h4>
                    </div>
                </div>
                <div class="items col-xs-12 col-sm-4 col-md-4 col-lg-4 clearfix">
                    <div class="col-md-2" style="padding-top:15px">
                        <img src="images/mic.png" class="header-icon"/>
                    </div>
                    <div class="col-md-8">
                        <h2 class="name"> Talk </h2>
                        <h4 class="date">
                            Dec 16-17, 2017 [Sat and Sunday]
                        </h4>
                    </div>
                </div>
                <div class="items col-xs-12 col-sm-4 col-md-4 col-lg-4 clearfix">
                    <div class="col-md-2" style="padding-top:15px">
                        <img src="images/icons/team.png" class="header-icon"/>
                    </div>
                    <div class="col-md-8">
                        <h2 class="name"> Round Table </h2>
                        <h4 class="date">
                            Dec 16-17, 2017 [Sat and Sunday]
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="margin-top:30px;">
                    <a href="http://cfp.blockchaincon.io/">
                        <button id="js-ripple-btn" class="pymatbtn" style="margin-top:10px;">
                            <i class="fa fa-edit"></i> Call For Proposal
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--//home-->
    <!-- Why to Attend? -->
    <section id="whytoattend" class="others section">
    <div class="row">
        <div class="col-md-12 sponsorship">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="title text-center">
                <img src="images/icons/sship.png" /><br/> WHY TO ATTEND?
                </h2>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <br/>
                <p>
                    You will learn why the Blockchain technology is a smarter way to track financial transactions & contracts including it’s use cases with financial and non-financial sector. They are faster, safer & more efficient than any ledger ever before.
                </p>
                <br/>
                <h3>Attending this conference will enable you to:</h3>
                <ul>
                    <li>Learn about blockchain and how to use distributed ledger technology.</li>
                    <li>Implement integration of smart contracts into your products and systems.</li>
                    <li>Make transactions and transfers safer and faster.</li>
                    <li>Find solutions to specific government challenges.</li>
                    <li>Meet with Key government officials.</li>
                </ul>
                <h3>Who will benefit:</h3>
                <h3>Industries who will benefit:</h3>
                    <ul>
                        <li>Banking &amp; Financial services</li>
                        <li>Government sectors</li>
                        <li>Real Estate</li>
                        <li>Construction Industry</li>
                        <li>Telecom</li>
                        <li>IT services</li>
                        <li>Venture Capital</li>
                        <li>Insurance</li>
                        <li>Exchanges, Clearhouse & Remittances</li>
                        <li>Payment Processing, Mining</li>
                        <li>Cyber Security</li>
                        <li>Bitcoin Wallets, Exchanges</li>
                        <li>Legal Advisory</li>
                        <li>Consulting &amp; Advisory</li>
                    </ul>
                <br/>
            </div>
        </div>
    </div>
</section>


    {% include "home/_speakers.html" %}
    <!-- {% include "home/_schedule.html" %} -->
    {% include "home/_venue.html" %}
    {% include "home/_sponsors.html" %}

    <!-- ******blog****** -->
    <section id="blog" class="blog section" style="margin-bottom:60px;">
        <div class="row text-center">
            <h2 class="title text-center">
                <img src="images/icons/blog.png" /><br/> WHAT'S HAPPENING?
            </h2>
            <div class="col-md-6">
                {% include 'home/_feed-box.html' %}
            </div>
            <div class="col-md-10 col-md-offset-1">
                {% include 'home/_twitter-box.html' %}
            </div>
        </div>
    </section>
    <!--//blog-->
{% endblock %}
