{% extends "_base.jinja" %}

{% block content %}
<!-- ******others****** -->
<section id="others" class="others section">
    <div class="row">
        <div class="col-md-12 sponsorship">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="title text-center">
                <img src="images/icons/sship.png" /><br/> SPONSORSHIP
                </h2>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <br/>
                <p>
                    BlockchainCon is the conference for the community intrested in blockchain and technology. It attracts the best  across the country and abroad. 
                </p>
                <br/>
                <h3>Why​ ​You​ ​Should​ ​Sponsor</h3>
                <p>
                    Our​ ​conference​ ​reveals​ ​to​ ​the​ ​world​ ​all​ ​innovative​ ​solutions​ ​and​ ​new​ ​technologies in​ ​the​ ​Blockchain​ ​industry.​ ​Thus,​ ​there​ ​are​ ​many​ ​reasons​ ​you​ should​ ​attend​ ​it:
                </p>
                <ul>
                    <li>An​ ​avenue​ ​for​ ​your​ ​company​ ​to​ ​be​ ​better​ ​connected​ ​to​ ​the​ ​Indian Blockchain​ ​community​ ​as​ ​well​ ​as​ ​to​ ​nurture​ ​it.</li>
                    <li>You​ ​get​ ​the​ ​possibility​ ​to​ ​inform​ ​the​ ​community​ ​about​ ​your​ ​new/upcoming release​ ​from​ ​the​ ​stage,​ ​take​ ​part​ ​in​ ​the​ ​panel​ ​discussion​ ​and​ ​share​ ​opinion on​ ​behalf​ ​of​ ​your​ ​company.</li>
                    <li>You​ ​get​ ​massive​ ​branding​ ​and​ ​advertisement​ ​of​ ​your​ ​company​ ​by​ ​online and​ ​offline​ ​branding,​ ​articles​ ​and​ ​mentions​ ​in​ ​mass​ ​media​ ​featuring BlockchainCon​ ​2017.</li>
                </ul>
                <br/>
                <h5 id="sponsorship-download"><a href="Sponsorship Prospectus - BlockchainCon 2017.pdf">Download Sponsorship Prospectus</a></h5>
                <br>
            </div>
        </div>
    </div>
</section>
<!--//others-->
{% endblock %}
